.input {
  background-color: #232325;
  border: 1px solid #2a2a2c;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  color: #fbfbfb;
  font-size: 18px;
  padding: 0 15px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-size: 14px;
  }
}
