.videoPlayer {
  // text-align: start;
  margin-top: 20px;
  // display: flex;
  // justify-content: start;
  // align-items: center;

  .img {
    img {
      width: 1080px;
      height: 640px;
    }
  }

  .description {
    font-size: 30px;
    text-align: left;
    margin-top: 15px;
  }
}
